<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.dashboard.user.dao.UserDAO">

	<select id="selectUserByComputingId" parameterType="map" resultType="com.dashboard.user.model.User">
    	SELECT
            `id`
            , `computingId`
            , `password`
            , `name`
			, `email`
			, `birth`
			, `profileImagePath`
            , `bio`
            , `contacts`
            , `type`
            , `status`
            , `createdAt`
            , `updatedAt`
        FROM
            `user`
        WHERE
        	`computingId` = #{computingId}
        AND
        	`password` = #{password}
    </select>
	
	<update id="updateUserStatusById" parameterType="int">
 		UPDATE `user`
 		SET
 			`status` = 1
 			,`updatedAt` = NOW()
 		WHERE
 			`id` = #{id}
 	</update>
 	
 	<insert id="insertUser" parameterType="map">
    	INSERT INTO `user`
		(
			`computingId`
			, `password`
			, `name`
			, `email`
			, `type`
			, `status`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{computingId}
			, #{password}
			, #{name}
			, #{email}
			, #{type}
			, #{status}
			, NOW()
			, NOW()
		)
    </insert>
</mapper>