@charset "UTF-8";

.shadow-box {width:550px; background-color:#F4FCFD; margin-top:200px; box-shadow:5px 5px 5px 5px #BDC0C0;}

nav .block{
	height: 80px;
	color:white;
}



.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #354c65;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #354c65;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

.user-reg-box {width:500px; background-color:#c0edfd; margin-top:80px;}
.user-reg-subject {font-weight:bold;}

.dep-box {width:700px;}




.nav-btn:hover {
	background-color: #293c50;
}
.nav-btn:active, .nav-btn:focus {
	background-color: white;
	color:black;
}
